.task-table-container {
    overflow-x: auto;
    margin-top: 20px;
  }
  
  .task-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 18px;
  }
  
  .task-table th, .task-table td {
    border: 1px solid #06094D;
    padding: 8px;
  }
  
  .task-table th {
    color: white;
    background-color: #06094D;
    text-align: center;
    font-weight: bold; 
  }
  
  .task-table td {
    font-weight: normal; 
  }
  
  .task-table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .task-table tr:hover {
    background-color: #0091ff12;
  }
  
  .task-table-container h2 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: bold;
    color: #06094D;
    text-align: center;
  }
  
  /* Set column widths */
  .task-table th:nth-child(1), .task-table td:nth-child(1) {
    width: 5%; /* Checkbox column */
    text-align: center; 
    vertical-align: middle; 
  }
  
  .task-table th:nth-child(2), .task-table td:nth-child(2) {
    width: 20%; /* Task column */
  }
  
  .task-table th:nth-child(3), .task-table td:nth-child(3) {
    width: 35%; /* Description column */
  }
  
  .task-table th:nth-child(4), .task-table td:nth-child(4) {
    width: 8%; /* Priority column */
  }
  
  .task-table th:nth-child(5) {
    width: 10%; /* Deadline column */
  }
  
  .task-table td:nth-child(5) {
    background-color: #ffccccb8; 
  }
  
  .task-table input[type="checkbox"] {
    width: 20px;
    height: 20px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid #06094D;
    border-radius: 3px;
    background-color: white;
    cursor: pointer;
  }
  
  .task-table input[type="checkbox"]:checked {
    background-color: #06094D;
    border-color: #06094D;
    color: white;
  }
  
  .task-table input[type="checkbox"]:checked::before {
    content: '✔';
    display: block;
    text-align: center;
    color: white;
    font-size: 16px;
  }